body {
    background-image: url('https://img.freepik.com/free-photo/business-concept-with-graphic-holography_23-2149160929.jpg?size=626&ext=jpg&ga=GA1.1.855370055.1697480341&semt=ais'); /* Replace 'your-image-url.jpg' with the actual URL of your background image */
            background-size: cover; /* Adjust to your preference */
            background-repeat: no-repeat; /* Adjust to your preference */
            color: white;
}
.content h1 {
    font-size: 86px; /* Adjust the font size as needed */
}
.content p{
    font-size: 25px;
}
header {
    background-color: #0D2329;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 24px;
    margin-left: 100px;
}

nav {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 35px;
    cursor: pointer;
}

#search-icon {
    font-size: 24px;
}

.content {
    text-align: center;
    padding: 110px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

.container {
    
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
    margin-top: 10px;
}
.sub-container {
    border: 2px ; /* Add a border for visual separation */
    padding: 10px; /* Add some padding to the sub-containers */
    margin: 5px; /* Add margin to separate them */
    text-align: center; /* Center the content inside sub-containers */
    width: 18%; /* Adjust the width to your preference */
}
.container2 {
    
    justify-content: space-between;
    margin: 0 auto;
    width: 72%;
    margin-top: 20px;
}
.button-row {
   
    justify-content: flex-start;
    margin-right: 80px;
    
}
.font{
    color: #000000;
    font-size: 22px;
}

.numbers{
    color: #107854;
     font-size: 27px; 
     font-weight: bolder
}
.item-text p {
    margin-bottom: 5px; /* You can adjust the margin as needed */
}
.button-row button {
    background-color: #1e6e82; /* Change the color to your desired background color */
    color: #fff; /* Text color for the buttons */
    padding: 5px 15px; /* Adjust padding as needed */
    border: none;
    cursor: pointer;
}

.container-item {
    flex: 1;
    height: 260px;
    background-color: #243D43;
    margin: 10px;
  display: flex;
    align-items: center;
}
.container-item2 {
    flex: 1;
    height: 140px;
    background-color: #FFFFFF;
    margin: 10px;
  display: flex;
    align-items: center;
    border-radius: 15px;
}
.container-item3 {
    
    height: 100px;
    background-color: #FFFFFF;
    margin: 10px;
   
    align-items: center;
}
.item-image {
    
    padding: 10px;
    object-fit: cover;
}

.item-image img {
    width: 100%;
    height: auto;
}

.item-text {
    flex: 1;
   
    color: white;
}
.textRegistration {
    font-size: 20px; /* Adjust font size as needed */
    color: #333333; 
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 30px;
    font-weight: bolder;
}
.progress-bar {
    width: 86%;
    background-color: #ccc;
    margin-right: 60px;
    margin-left: 30px;
    margin-top: 12px;
}

.progress-bar .fill {
    width: 80%;
    height: 5px; /* Adjust the height as needed */
    background-color: #107854;
    
}
.progress-bar .fill2 {
    width: 70%;
    height: 5px; /* Adjust the height as needed */
    background-color: #107854;
    
}

/* Adjust the gap between image and text */
.item-image, .item-text {
    margin: 10px;
}

@media (max-width: 768px) {
    .logo {
        font-size: 20px;
        margin-left: 20px; /* Adjust the margin for the logo */
    }

    nav {
        margin-right: 10px; /* Adjust the margin for the nav */
    }

    nav li {
        margin-right: 20px;
        display: none;
    }

    #search-icon {
        display: none; /* Hide the search icon on small screens */
    }

    .content h1 {
        font-size: 32px; /* Adjust the font size for h1 */
    }

    .content p {
        font-size: 16px; /* Adjust the font size for p */
    }

    .container {
        width: 100%; /* Make the container full width */
    }

    .container-item {
        max-width: 95%;
        height: auto;
    }

    .item-image img {
        width: 100%;
        height: auto;
    }

    .item-text {
        text-align: center; /* Center text in small screens */
        margin: 10px;
    }

    .button-row {
        flex-direction: column;
        align-items: center;
        margin: 10px 0; /* Adjust margin for button row */
    }

    .button-row button {
        margin: 5px 0; /* Adjust margin for buttons */
    }
    .container2{
        width: 90%;
    }
    .container-item2 {
        flex: 1;
        height: 140px;
        background-color: #FFFFFF;
        margin: 6px;
        display: flex;
        align-items: center;
        border-radius: 8px;
    }
    .font{
        color: #000000;
        font-size: 15px;
        font-weight: bold;
    }
}

@media (min-width: 321px) and (max-width: 680px) {
    .logo {
        font-size: 20px;
        margin-left: 20px; /* Adjust the margin for the logo */
    }

    nav {
        margin-right: 8px; /* Adjust the margin for the nav */
    }

    nav li {
        margin-right: 16px;
        display: none;
    }

    #search-icon {
        display: none; /* Hide the search icon on small screens */
    }

    .content h1 {
        font-size: 25px; /* Adjust the font size for h1 */
    }

    .content p {
        font-size: 10px; /* Adjust the font size for p */
    }

    .container {
        width: 100%; /* Make the container full width */
    }

    .container-item {
        max-width: 90%;
        height: auto;
    }

    .item-image img {
        width: 100%;
        height: auto;
    }

    .item-text {
        text-align: center; /* Center text in small screens */
        margin: 6px;
    }

    .button-row {
        flex-direction: column;
        align-items: center;
        margin: 8px 0; /* Adjust margin for button row */
    }

    .button-row button {
        margin: 5px 0; /* Adjust margin for buttons */
    }
    .container2{
        width: 90%;
    }
    .container-item2 {
        flex: 1;
        height: 140px;
        background-color: #FFFFFF;
        margin: 3px;
        display: flex;
        
        border-radius: 5px;
        justify-content: space-between;
        
    }
    .font{
        color: #000000;
        font-size: 10px;
        font-weight: bold;
    }
    .numbers{
        color: #107854;
         font-size: 10px; 
         
    }
    .sub-container {
        border: 1px ; /* Add a border for visual separation */
        padding: 5px; /* Add some padding to the sub-containers */
        margin: 2px; /* Add margin to separate them */
        text-align: center; /* Center the content inside sub-containers */
        width: 12%; /* Adjust the width to your preference */
    }
}